* {
	padding: 0;
	margin: 0;
}

#app {
	cursor: pointer;
	background: #eee;
	border: 5px solid #000;
}

.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

#win {
	position: absolute;
	margin: auto;
}